@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');


// body {
//   // label {
//   //   display: block;
//   // }
//   // nav a {
//   //   display: inline-block;
//   //   margin: 1em;
//   // }
// }

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  /* display: flex;
  flex-direction: row; */
  /* background-image: url("/images/LinePortrait.png"); */
  background-repeat: no-repeat;
  background-position: 42vw, -41vh;
  /* background-attachment: fixed;
  background-size: cover; */

  a {
    text-decoration: none;
  }
}

#mainBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  &.blue {
    background-color: rgb(68, 68, 255);

    #sideMenu, .section {
      background-color: blue;
    }
  }

  &.red {
    background-color: rgb(255, 103, 103);

    #sideMenu, .section {
      background-color: red;
    }
  }

  &.grey {
    background-color: rgb(46, 46, 46);

    #sideMenu, .section {
      background-color: rgb(129, 129, 129);
    }
  }
}


/* SIDEBAR MENU */

#sideMenu {
  display: flex;
  flex-direction: column;
  background-color: #ababab;
  border: 0.5rem solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}


/* SIDEBAR NAME */

#sideMenu-name {
  cursor: pointer;
  transition: all 0.5s;
  flex: 0 1 10%;

  p {
    text-align: left;
    font-size: 6vh;
    line-height: 1;
  }

  span {
    cursor: pointer;
    transition: 0.5s;
    position: relative;
  }

  span:after {
    content: 'UDLEY';
    transition: 0.5s;
    position: absolute;
    opacity: 0;
  }
}

#sideMenu-name:hover span:after {
  opacity: 1;
}


/* SIDEBAR LINKS */

#sideMenu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    align-self: flex-end;
    color: black;
    text-transform: lowercase;
    font-size: 3vh;
    padding: 3vh;
  }

  a:hover {
    color: white;
    text-shadow:
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 3px,
    #000000 0px 0px 7px,
    #000000 0px 0px 10px;
  }

  .active {
    text-transform: uppercase;
    font-size: 4vh;
  }
}


/* MAIN BODY */

#root {
  display: flex;
  flex: 1 1 75%
}

/* PAGES */

.contentBox {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;

  h1 {
  font-size: 3rem;
  }
}

.section {
  border: 0.5rem solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem;

  p {
    margin-left: 1.5em;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    margin-left: 2em;
  }

  a {
    color: black;
  }

  a:hover {
    color: white;
    text-shadow:
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 1px,
    #000000 0px 0px 3px,
    #000000 0px 0px 7px,
    #000000 0px 0px 10px;
  }

}

.videoBox {
  margin: auto;
  width: fit-content;
  overflow-x: hidden;
  padding: 1rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
}


/* MEDIA BREAKPOINTS */

@media screen and (max-width: 480px) {
  #mainBox {
    flex-direction: column;
  }

  #sideMenu {
    display: inline-block;
    padding: 0rem;
    margin: 0;
    margin-right: 0.5rem;
  }
  #sideMenu-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #sideMenu-nav a {
    padding: 0vh;
    align-self: flex-start;
  }
  #sideMenu-nav .active {
    font-size: 4.5vh;
  }
  #sideMenu-name {
    padding: 0;
  }
  #sideMenu-name p {
    font-size: 5vh;
    text-align: center;
  }
  #sideMenu-name span {
    position: relative;
  }
  #sideMenu-name span:after {
    content: 'UDLEY';
    transition: 0s;
    position: relative;
    opacity: 1;
  }

  .contentBox {
    margin-right: 0.5rem;
  }
  .section {
    margin: 0;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 390px) {

}

