// BREAKPOINTS
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 960px;
$screen-xl: 1280px;

$screen-min: 320;
$screen-max: 1280;

$font-size-min: 14px;
$fs-min: 14;
$font-size-max: 26px;
$fs-max: 26;

$color-font: #000000;
$color-border: #000000;
$color-background: #7c7c7c;
$color-highlight: #61d5dd;
