h1,
h2,
h3,
p {
  color: $color-font;
}

i {
  color: $color-font;

  &:hover {
    color: $color-hover;
  }
}

#page-grid {
  background-color: $color-body;
  color: $color-font;
}

.background {
  background-color: $color-background;
}

.menu {
  background-color: $color-background;
  border-color: $color-border;

  &-nav {
    background-color: $color-background;

    &_item {
      color: $color-font;

      &.active {
        color: $color-highlight;
      }
    }
  }
}

.content {
  border-color: $color-border;

  &.portfolio,
  &.resume {
    .section {
      &::after {
        border-bottom-color: $color-border;
      }
    }
  }
}
