// MIXIN
// @mixin color($color-option) {
//   @if $color-option == blue {

//   } @else if $color-option == teal {

//   } @else if $color-option == orange {

//   } @else {

//   }
// }

// DEFAULT COLORS
// BLACK  WHITE  GREY
$color-body: #ffffff;
$color-background: #afafaf;
$color-border: #000000;
$color-font: #000000;
$color-link: #000000;
$color-highlight: #232323;
$color-hover: #ffffff;
// $color-hover: lighten($color-highlight, 50%);

// .black {
//   $color-font: #000000;
//   $color-border: #000000;
//   $color-background: #7c7c7c;
//   $color-body: #ffffff;
//   $color-highlight: #61d5dd;

// }


// .blue {

//   $color-font: #000000;
//   $color-border: #6fffff;
//   $color-background: #05668D;
//   $color-body: #ffffff;
//   $color-highlight: #4185A0;

//   /*
//   EAF5F9 - white
//   0089BF - sky blue
//   05668D - darker blue
//   4185A0 - lighter green
//   357993 - darker green
//     */
// }

  // &.dark-blue {
  //   /*
  //   001011 - black
  //   09393D - dark green
  //   39B1BA - mid blue
  //   63E3ED - light blue
  //   96E4EA - blue grey
  //   */
  //   background-color: #96E4EA;

  //   p, a, h1, h2, h3 {
  //     color: #001011
  //   }

  //   #sideMenu, .section {
  //     background-color: rgba(57, 177, 186, 0.5);

  //     a {
  //       color: #001011
  //     }

  //     .active {
  //       color: #63E3ED
  //     }
  //   }
  // }

  // &.purple {
  //   /*
  //   0D0630 - deep purple
  //   20174F - darker purple
  //   423877 - mid purple
  //   948BBF - purple grey
  //   BBAEF9 - light pinkish
  //   */
  //   background-color: #423877;

  //   p, a, h1, h2, h3 {
  //     color: #0D0630
  //   }

  //   #sideMenu, .section {
  //     background-color: rgba(148, 139, 191, 0.5);

  //     a {
  //       color: #0D0630
  //     }

  //     .active {
  //       color: #BBAEF9
  //     }
  //   }
  // }

  // &.wine {
  //   /*
  //   260C1A - deep wine red
  //   422D38 - purple red
  //   5E4150 - mid purple red
  //   AF879D - pink
  //   EDC0D8 - light pink
  //   */
  //   background-color: #AF879D;

  //   p, a, h1, h2, h3 {
  //     color: #260C1A
  //   }

  //   #sideMenu, .section {
  //     background-color: rgba(66, 45, 56, 0.5);

  //     a {
  //       color: #260C1A
  //     }

  //     .active {
  //       color: #EDC0D8
  //     }
  //   }
  // }

  // &.beige {
  //   /*
  //   493B2A - deep brown
  //   60513E - khaki
  //   8C7D6B - light khaki
  //   AF9C83 - tan
  //   D3BEA5 - my flesh
  //   */
  //   background-color: #60513E;

  //   p, a, h1, h2, h3 {
  //     color: #493B2A
  //   }

  //   #sideMenu, .section {
  //     background-color: rgba(140, 125, 107, 0.5);

  //     a {
  //       color: #493B2A
  //     }

  //     .active {
  //       color: #D3BEA5
  //     }
  //   }
  // }
