@import 'variables';
@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

html {
  @include fluid-type($screen-min, $screen-max, $font-size-min, $font-size-max);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: $color-body;

  h1 {
    font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
    @include fluid-type($screen-min, $screen-max, $mod_1 * $mod_1 * $mod_1 * $font-size-min, $mod_2 * $mod_2 * $mod_2 * $font-size-min);
  }

  h2 {
    font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
    @include fluid-type($screen-min, $screen-max, $mod_1 * $mod_1 * $mod_1 * $font-size-min, $mod_2 * $mod_2 * $mod_2 * $font-size-min);
  }

  h3 {
    font-size: $mod_1 * $mod_1 * 1rem;
    @include fluid-type($screen-min, $screen-max, $mod_1 * $mod_1 * $font-size-min, $mod_2 * $mod_2 * $font-size-min);
  }

  a {
    text-decoration: none;
  }
}

#main {
  height: 100vh;
}

#page-grid {
  height: 100%;
  display: grid;
  grid-template-columns:
    [cpage-start c1-start] 1fr
    [c1-end c2-start] 1fr
    [c2-end c3-start] 1fr
    [c3-end c4-start] 1fr
    [c4-end c5-start] 1fr
    [c5-end c6-start] 1fr
    [c6-end c7-start] 1fr
    [c7-end c8-start] 1fr
    [c8-end c9-start] 1fr
    [c9-end c10-start] 1fr
    [c10-end c11-start] 1fr
    [c11-end c12-start] 1fr
    [c12-end cpage-end];
  grid-template-rows:
    [rpage-start r1-start] 1fr
    [r1-end r2-start] 1fr
    [r2-end r3-start] 1fr
    [r3-end r4-start] 1fr
    [r4-end r5-start] 1fr
    [r5-end r6-start] 1fr
    [r6-end r7-start] 1fr
    [r7-end r8-start] 1fr
    [r8-end r9-start] 1fr
    [r9-end r10-start] 1fr
    [r10-end r11-start] 1fr
    [r11-end r12-start] 1fr
    [r12-end rpage-end];
}

.menu {
  display: flex;
  background-color: $color-background;
  border: 7px solid $color-border;

  &-title {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_name {
      margin: 0;
    }

    &.sign {
      background-image: url("/images/Signature.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      & > h3 {
        visibility: hidden;
      }
    }
  }

  &-nav {
    background-color: $color-background;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    padding: 10px 15px;

    &_item {
      align-self: flex-end;
      color: $color-font;
      text-transform: lowercase;

      &.active {
        text-transform: uppercase;
        color: $color-highlight;
      }
    }
  }
}

.section {
  margin-bottom: 30px;

  .title {
    text-transform: uppercase;
  }

  .subtitle {
    margin: 0 15px 15px;
  }
}

.contentBox {
  background-color: $color-background;
  border: 7px solid $color-border;
  overflow-x: hidden;
  overflow-y: scroll;

  // &.portfolio {
  //   .section::after {
  //     content: '';
  //     display: block;
  //     border-bottom: 3px solid $color-border;
  //   }
  // }
}

.modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  input {
    width: 150px;
    max-width: 150px;
    position: absolute;
    top: 50%;
    margin: 0 calc((100% - 150px) / 2);
  }

  &-button_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 20px;

    &:after {
      content: 'X';
      font-size: 55px;
      line-height: 1;
      margin: 0 5px;
      color: #afafaf;
    }
  }

  &-background {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }

  &.off {
    visibility: hidden;
  }
}

.pictureBox {
  display: none;
}

/*
  ***
  *** MEDIA
  *** ORIENTATION
  ***
*/

@media (orientation: portrait) {
  .menu {
    grid-column: cpage-start / cpage-end;
    grid-row: r9-start / rpage-end;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    margin: 7px 14px 14px;
    padding: 10px;
  }

  .contentBox {
    grid-column: cpage-start / cpage-end;
    grid-row: rpage-start / r8-end;
    margin: 14px 14px 7px;
    padding: 10px;
  }
}

@media (orientation: landscape) {
  .menu {
    grid-column: c10-start / cpage-end;
    grid-row: rpage-start / rpage-end;
    flex-direction: column;
    margin: 14px 14px 14px 7px;
    padding: 10px;
  }

  .contentBox {
    grid-column: cpage-start / c9-end;
    grid-row: rpage-start / rpage-end;
    margin: 14px 7px 14px 14px;
    padding: 10px;
  }
}



/*
  ***
  *** MEDIA
  *** 768 to 960
  ***
*/

@media (min-width: $screen-md + 1) {
  .menu {
    &-nav_item:hover {
      color: $color-hover;
    }
  }

  // .contentBox {

  // }
}



/*
  ***
  *** MEDIA
  *** 0 to 768
  ***
*/

@media (max-width: $screen-md) {
  .menu {
    &-title {
      flex-basis: 60%;

      &_name .hide {
        display: none;
      }
    }

    &-nav {
      flex-basis: 40%;
      justify-content: space-evenly;
      align-items: flex-end;

      &_item {
        padding: 0;
      }
    }
  }

  .contentBox {
    .section::after {
      content: '';
      display: block;
      border-bottom: 3px solid $color-border;
    }

    &.contact {
      .contact-item {
        text-align: center;
      }
    }

    // &.home {
    //   .section::after {
    //     border: none;
    //   }
    // }
  }


  .section {
    margin-bottom: 15px;

    .title {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .closed {
      display: none;
    }

    .open {
      display: block;
    }
  }
}

























// .contentBox {
//   display: none;
// }

// body {
//   box-sizing: border-box;
//   font-family: 'Josefin Sans', sans-serif;
//   /* display: flex;
//   flex-direction: row; */
//   // background-position: 61vw, -41vh;
//   // background-attachment: fixed;
//   background-image: url("/images/Portrait30.png");
//   background-repeat: no-repeat;
//   background-position: 57vh, -47vh;
//   background-size: cover;

//   a {
//     text-decoration: none;
//   }
// }


// #mainBox {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: flex-start;
// }


/* SIDEBAR MENU */

// #sideMenu {
//   display: flex;
//   flex-direction: column;
//   background-color: #ababab;
//   border: 0.5rem solid black;
//   padding: 0.5rem;
//   margin: 0.5rem;
//   margin-bottom: 1.5rem;
// }


/* SIDEBAR NAME */

// #sideMenu-name {
//   cursor: pointer;
//   transition: all 0.5s;
//   flex: 0 1 10%;

//   p {
//     text-align: left;
//     font-size: 6vh;
//     line-height: 1;
//   }

//   span {
//     cursor: pointer;
//     transition: 0.5s;
//     position: relative;
//   }

//   span:after {
//     content: 'UDLEY';
//     transition: 0.5s;
//     position: absolute;
//     opacity: 0;
//   }
// }

// #sideMenu-name:hover span:after {
//   opacity: 1;
// }


/* SIDEBAR LINKS */

// #sideMenu-nav {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   a {
//     align-self: flex-end;
//     color: black;
//     text-transform: lowercase;
//     font-size: 3vh;
//     padding: 3vh;
//   }

//   a:hover {
//     color: white;
//     text-shadow:
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 3px,
//     #000000 0px 0px 7px,
//     #000000 0px 0px 10px;
//   }

//   .active {
//     text-transform: uppercase;
//     font-size: 4vh;

//     color: white;
//     text-shadow:
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 3px,
//     #000000 0px 0px 7px,
//     #000000 0px 0px 10px;

//   }

//   &sub {
//     font-size: 2vh;
//   }
// }


/* MAIN BODY */

// #root {
//   display: flex;
//   flex: 1 1 75%
// }

/* PAGES */

// .contentBox {
//   flex: 1 1 auto;
//   overflow-y: auto;
//   margin-right: 1rem;
//   margin-bottom: 1rem;

//   h1 {
//   font-size: 3rem;
//   }
// }

// .section {
//   border: 0.5rem solid black;
//   padding-left: 1rem;
//   padding-right: 1rem;
//   margin: 0.5rem;

//   p {
//     margin-left: 1.5em;
//   }

//   h2 {
//     font-size: 1.5rem;
//   }

//   h3 {
//     margin-left: 2em;
//   }

//   h4 {
//     margin-left: 3em;
//   }

//   a {
//     color: black;
//   }

//   a:hover {
//     color: white;
//     text-shadow:
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 1px,
//     #000000 0px 0px 3px,
//     #000000 0px 0px 7px,
//     #000000 0px 0px 10px;
//   }

//   .section-item {
//     padding-bottom: 0.2em;

//     h3 {
//       margin-left: 1em;
//     }

//     h4 {
//       margin-left: 3em;
//     }
//   }
// }

// .pictureBox {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   padding-left: 1rem;
//   padding-right: 1rem;
//   margin: 0.5rem;

//   img {
//     height: 200px;
//   }
// }

// .videoBox {
//   position: relative;
//   padding-bottom: 56.25%; /* 16:9 */
//   padding-top: 25px;
//   height: 0;
//   margin-bottom: 1rem;

//   iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// .contact-item {
//   display: flex;
//   align-items: center;
// }

// /* FOOTER */

// footer {
//   display: flex;
//   justify-content: center;
// }


// /* MEDIA BREAKPOINTS */
// @media screen
//   and (max-width: 850px) {
//     body {

//     }

//     .contentBox {
//       h1 {
//         font-size: 4.5vw;
//       }
//     }

// }

// @media screen
//   and (max-width: 600px) {
//   body {
//     background-image: none;
//   }

//   #mainBox {
//     flex-direction: column;
//   }

//   #sideMenu {
//     display: inline-block;
//     padding: 0rem;
//     margin: 0;
//     margin-right: 0.5rem;
//   }

//   #sideMenu-nav {
//     flex-direction: row;
//     justify-content: space-evenly;

//     a {
//       padding: 0vh;
//       align-self: flex-start;
//       font-size: 2.5vh;
//     }
//   }

//   .sideMenu-sub {
//     display: none;
//   }

//   #sideMenu-name {
//     padding: 0;

//     p {
//       font-size: 5vh;
//       text-align: center;
//     }

//     span {
//       position: relative;
//     }

//     span:after {
//       content: 'UDLEY';
//       transition: 0s;
//       position: relative;
//       opacity: 1;
//     }
//   }

//   .contentBox {
//     margin-right: 0.5rem;

//     h1 {
//       font-size: 9.5vw;
//     }
//   }

//   .section {
//     margin: 0;
//     margin-top: 0.5rem;

//     p {
//       margin-right: 1.5em;
//       font-size: 4.5vw;
//     }

//     h2 {
//       overflow-wrap: break-word;
//     }
//   }
// }
